* {
    /*border: 1px solid blue;*/
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(../images/bg_test.png);
    background-attachment: fixed;
    
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

p.test1 {
    width: 500px;
    height: 150px;
    padding: 20px;
    border: 2px solid blue;
    margin: 20px;
    background: #c2f670;
    box-shadow: 6px 6px 5px #111;
}

p.test2 {
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;*/
    box-sizing: border-box;
    width: 500px;
    height: 150px;
    border: 10px ridge blue;
    background: #c2f670;
    padding: 20px;
    border-radius: 2em;
    box-shadow: 6px 6px 5px #111;
}

.maincontent {
    margin-top: 20px;
}

.nav {
    position: fixed;
    overflow: hidden;
    background-color: #222;
    top: 0;
    width: 960px;
    
}

.nav a {
    float: left;
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    margin: 5px;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: lightslategray;
}



.column {
    padding: 10px;
    float: left;
    width: 50%;
   
}

div.floatright {
    clear: both;
    float: right;
    width: 50%;
 
}

.row:after {
    clear: both;
    display: table;
    content: "";
}

.sideflex {
    flex: 28%;
    padding: 20px;
    background: #d2d792;
    margin-right: 2%;
    border-top: 10px solid #756f2e;
    border-left: 2px solid #756f2e;
    box-shadow: 6px 6px 5px #111;
}

.mainflex {
    flex: 70%;
    padding: 20px;
}

.rowflex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.content {
    max-width: 960px;
    margin: auto;
    background: white;
}

.headergroup {
    text-align: center;
    color: red;
    background: #222;
    padding: 60px;
    /*position: fixed;
    top: 0;*/
    width: 960px;
}

.headergroup h1 {
    
}

.register {
    border-top: 5px double #5805ac;
    border-bottom: 5px double #5805ac;
}



    .register table {
        margin: 10px auto;
        background: #fff;
        padding: 10px 10px;
        box-shadow: 6px 6px 5px #111;
        border-left: 10px solid #5805ac;
        border-collapse: collapse;
    }

    .register table tr {
        border: 1px solid black;
    }

    .register table tr td {
        font-size: 2em;
        padding: 2px;
        color: black;
        /*border: 1px dotted blue;*/
    }

    .register table tr th {
        color: #5805ac;
        /*border: 1px dotted blue;*/
    }

   

 
        pre > code {
            border: 1px solid black;
            height: 400px;
            display: block; 
            overflow-y: scroll;
            overflow-x: scroll;
            
            box-shadow: 6px 6px 5px #111;
        }

div.code {
    margin: 10px auto;
    background: #222;
    padding-top: 20px;
}

.code p {
    color: white;
    font-size: 2em;

}

    

