@font-face {
    font-family: 'LemonMilkBold'; /*a name to be used later*/
    src: url('../fonts/LemonMilkBoldItalic.otf'); /*URL to font*/
}

* {
    /*border: 1px solid blue;*/
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(../images/bg_test.png);
    background-attachment: fixed;
    
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.title {
    float: left;
    /*border: 1px solid red;*/
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-size: 4em;
    font-family: 'LemonMilkBold', Arial, Arial, Helvetica, sans-serif;
    /*font-style: italic;*/
    border-bottom: 10px solid red;
    margin-left: 20px;
}

p.test1 {
    width: 500px;
    height: 150px;
    padding: 20px;
    border: 2px solid blue;
    margin: 20px;
    background: #c2f670;
    box-shadow: 6px 6px 5px #111;
}

p.test2 {
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;*/
    box-sizing: border-box;
    width: 500px;
    height: 150px;
    border: 10px ridge blue;
    background: #c2f670;
    padding: 20px;
    border-radius: 2em;
    box-shadow: 6px 6px 5px #111;
}

.maincontent {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.nav {
    position: fixed;
    overflow: hidden;
    background-color: #222;
    top: 0;
    width: 1366px;
}

.nav a {
    float: left;
    display: block;
    width: 120px;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    margin: 2px 0;
    color: white;
    /*border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
    background-color: #888;
}

    .nav a:hover {
        color: black;
        background-color: #605796;
    }



.column {
    padding: 10px;
    float: left;
    width: 50%;
   
}

div.floatright {
    clear: both;
    float: right;
    width: 50%;
 
}

.row:after {
    clear: both;
    display: table;
    content: "";
}

.sideflex {
    flex: 28%;
    padding: 20px;
    background: #aca358;
    margin-right: 2%;
    border-top: 20px solid #867b79;
    border-left: 2px solid #867b79;
    box-shadow: 6px 6px 5px #111;
}

.mainflex {
    flex: 70%;
    padding: 20px;
}

.rowflex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

    .rowflex:after {
        clear: both;
        display: table;
        content: "";
    }

.content {
    max-width: 1366px;
    margin: auto;
    background: white;
    box-shadow: 6px 6px 5px #111;
}



.headergroup {
    display: block;
    background-image: url(../images/dot_background.png);
    /*background: #222;*/
    width: 1366px;
    height: 200px;
    color: red;
    padding-top: 100px;
}

.headergroup img {
    /*border: 1px solid red;*/
    float: right;
}

    .headergroup h1 {
        float: left;
        /*border: 1px solid red;*/
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        font-size: 4em;
        font-family: 'LemonMilkBold', Arial, Arial, Helvetica, sans-serif;
        /*border-bottom: 10px solid red;*/
    }

    .rightline {
        margin-top: 30px;
        float: left;
        
        width: 20%;
        height: 30px;
        /*background: red;*/
        border-top: 5px solid red;
        border-bottom: 5px solid red;
    }

    




.bitblock {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.register {
    /*border-top: 5px double #5805ac;
    border-bottom: 5px double #5805ac;*/
    flex: 48%;
    margin-right: 2%;
    
}



    .explain {
        flex: 46%;
        background: #ccc;
        padding: 10px 20px;
        margin: 0 2%;
    }

    
    .register table {
        margin: 10px auto;
        background: #fff;
        padding: 10px 10px;
        box-shadow: 6px 6px 5px #111;
        border-left: 10px solid #5805ac;
        border-collapse: collapse;
    }

    .register table tr {
        border: 1px solid black;
    }

    .register table tr td {
        font-size: 2em;
        padding: 2px;
        /*color: black;*/
        /*border: 1px dotted blue;*/
    } 

    .register table tr th {
        /*color: #5805ac;*/
        /*border: 1px dotted blue;*/
    }

.sideheading {
    color: black;
    text-align: center;
    font-weight: bold;
}

table .values {
    color: #5805ac;
    font-weight: bold;
}

pre > code {
    border: 1px solid black;
    border-left: 10px solid black;
    height: 200px;
    display: block;
    overflow-y: scroll;
    overflow-x: scroll;
    padding-left: 20px;
    box-shadow: 6px 6px 5px #111;
}      

div.code {
    margin: 10px auto;
    background: #222;
    padding-top: 10px;
}

.code p {
    color: white;
    font-size: 2em;

}



.paragraph h3 {
    text-align: center;
}

.codeheader {
    text-align: left;
    
    color: white;
    background: black;
   
    border-bottom: 3px solid black;

}

figure {
    border: 1px solid black;
    padding: 10px;
    
}


.imageflex {
    display: flex;
    flex-wrap: wrap;
}

.imageflex img{
    border: 1px solid black;
    flex: 40%;
    padding: 10px;
}

.imageflex p {
    border: 1px solid red;
    padding: 10px;
    flex: 50%;
}

.mainflexCode {
    flex: 50%;
    padding: 20px;
}

.sideInfoCode {
    flex: 50%;
    padding: 10px;
}

.mainflexRegister {
    flex: 50%;
    padding: 20px;
}

.sideInfoRegister {
    flex: 50%;
    padding: 10px;
}

    .sideInfoRegister table {
        margin: 10px auto;
        background: #fff;
        padding: 10px 10px;
        box-shadow: 6px 6px 5px #111;
        border-left: 10px solid #5805ac;
        border-collapse: collapse;
    }

        .sideInfoRegister table tr {
            border: 1px solid black;
        }

            .sideInfoRegister table tr td {
                font-size: 2em;
                padding: 4px;
                /*color: black;*/
                /*border: 1px dotted blue;*/
            } 

.sideInfo {
    background: #ebeaea;
    background-image: url(../common/images/top_header_mac.png);
    background-repeat: repeat-x;
    flex: 15%;
    padding: 8px 10px 10px 10px;
    margin-right: 20px;
    box-shadow: 6px 6px #111;
    border: 1px solid black;
}

    .sideInfo a {
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
        margin: 0 35%;
        padding: 10px 30px;
        box-shadow: 3px 3px #111;
        border-radius: 5px;
        background: white;
        
    }

        .sideInfo a:hover {
            color: white;
            background: black;
        }


.intro_img_right {
    display: flex;
    margin: 20px;
    padding: 10px;
    align-items: flex-start;
}

.intro {
    flex: 70%;
    padding: 10px;
}

.intro_img_right img {
    flex: 30%;
    padding: 10px;
}
       